<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- Faces Servlet -->
    <servlet>
        <servlet-name>facesServlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>facesServlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <!-- Opcional: parámetro para habilitar compatibilidad de restauración de vista -->
    <context-param>
        <param-name>jakarta.faces.enableRestoreView11Compatibility</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>jakarta.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>
        <param-value>true</param-value>
    </context-param>


    <!-- Manejador para fallos de Sesión/Vista expirada de JSF -->
    <error-page>
        <exception-type>jakarta.faces.application.ViewExpiredException</exception-type>
        <location>/home/index.xhtml?faces-redirect=true</location>
    </error-page>

    <!-- Manejador para errores de Scope de Spring (Inactivos) -->
    <error-page>
        <exception-type>org.springframework.beans.factory.support.ScopeNotActiveException</exception-type>
        <location>/home/index.xhtml?faces-redirect=true</location>
    </error-page>

    <!-- Manejador genérico para Errores Internos 500 y Excepciones no capturadas -->
    <error-page>
        <error-code>500</error-code>
        <location>/home/error.xhtml</location>
    </error-page>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/home/error.xhtml</location>
    </error-page>


    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>arya</param-value>
    </context-param>

</web-app>
