<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Travela - Perfil del Usuario</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>


	<div th:include="home/homeTemplate/home.html::header"></div>

    


    <!-- Navbar End -->
    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">Perfil del Piloto</h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active text-white">Perfil del Piloto</li>
            </ol>
        </div>
    </div>
    <!-- Header End -->

    <!-- User Profile Start -->
  <div class="container py-5">
        <h2 class="mb-4">Información Personal</h2>
        <table class="table table-bordered">
            <tr>
                <th>RUT:</th>
                <td th:text="${session.usuario.rutUsuario}"></td>
            </tr>
            <tr>
                <th >Nombre</th>
                <td th:text="${session.usuario.nombre}"></td>
            </tr>
            <tr>
                <th>Correo Electrónico:</th>
                <td th:text="${session.usuario.correoElectronico}"></td>
            </tr>
            <tr>
                <th>Teléfono:</th>
                <td th:text="${session.usuario.telefono}"></td>
            </tr>
            <tr>
                <th>Fecha de Nacimiento:</th>
                <td th:text="${session.usuario.fechaNacimiento}"></td>
            </tr>
        </table>

        <h2 class="mb-4">Licencias y Certificaciones</h2>
        <table class="table table-bordered">
            <tr>
                <th>Tipo de Licencia:</th>
                <td th:text="${piloto.licencia}"></td>
            </tr>
            <tr>
                <th>Fecha de Emisión:</th>
                <td>2020-05-15</td>
            </tr>
            <tr>
                <th>Fecha de Expiración:</th>
                <td>2025-05-15</td>
            </tr>
            <tr>
                <th>Certificaciones Adicionales:</th>
                <td>Multi-Motor, Instrumentos</td>
            </tr>
        </table>

        <h2 class="mb-4">Experiencia de Vuelo</h2>
        <table class="table table-bordered">
            <tr>
                <th>Total de Horas de Vuelo:</th>
                <td>1500 horas</td>
            </tr>
            
             <tr>
                <th>Anos de experiencia</th>
                 <td th:text="${piloto.experienciaAnos}"></td>
            </tr>
            
            <tr>
                <th>Horas en Aeronaves:</th>
                <td>500 horas en Cessna, 1000 horas en Boeing</td>
            </tr>
            <tr>
                <th>Última Aeronave Volada:</th>
                <td>Boeing 737</td>
            </tr>
        </table>
        
        
        <h2 class="mb-4">Mis Reservas de Vuelo</h2>
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th>Número de Vuelo</th>
                    <th>Fecha de Salida</th>
                    <th>Salida</th>
                    <th>Estado</th>
                    <th>Cantidad Pasajeros</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="vuelo : ${vuelos}" 
                    th:class="${vuelo.EstadoVuelo.descripcion== 'Vuelo Programado' ? 'table-success' : 
			                         vuelo.EstadoVuelo.descripcion == 'Vuelo Cancelado' ? 'table-danger' : 
			                         vuelo.EstadoVuelo.descripcion == 'Vuelo Retrasado' ? 'table-warning' : ''}">
                    <td th:text="${vuelo.numeroVuelo}"></td>
                    <td th:text="${vuelo.fechaHoraLlegada}"></td>
                    <td th:text="${vuelo.aeropuerto1.nombreAeropuerto+' ('+vuelo.aeropuerto1.codigoIata+')'}"></td>
                    <td th:text="${vuelo.EstadoVuelo.descripcion}"></td>
                    <td th:text="${vuelo.reservas.size()}"></td>
                    <td><a href="detalle_vuelo.html?id=1" class="btn btn-primary">Ver Detalles</a></td>
                </tr>
            </tbody>
        </table>
        
        

        <h2 class="mb-4">Historial de Vuelo</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Destino</th>
                    <th>Duración</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2024-10-15</td>
                    <td>New York</td>
                    <td>6 horas</td>
                </tr>
                <tr>
                    <td>2024-10-20</td>
                    <td>Los Angeles</td>
                    <td>5 horas</td>
                </tr>
            </tbody>
        </table>
        
        
        

        <h2 class="mb-4">Entrenamiento y Formación</h2>
        <table class="table table-bordered">
            <tr>
                <th>Escuela de Vuelo:</th>
                <td>Escuela Nacional de Aviación</td>
            </tr>
            <tr>
                <th>Fecha de Finalización:</th>
                <td>2019-12-01</td>
            </tr>
            <tr>
                <th>Requisitos de Entrenamiento:</th>
                <td>Entrenamiento recurrente cada 6 meses</td>
            </tr>
        </table>

        <h2 class="mb-4">Estado de Salud</h2>
        <table class="table table-bordered">
            <tr>
                <th>Certificado Médico:</th>
                <td>Clase 1</td>
            </tr>
            <tr>
                <th>Fecha de Validez:</th>
                <td>2025-05-15</td>
            </tr>
        </table>

        <h2 class="mb-4">Detalles de Contacto de Emergencia</h2>
        <table class="table table-bordered">
            <tr>
                <th>Nombre:</th>
                <td>María Pérez</td>
            </tr>
            <tr>
                <th>Relación:</th>
                <td>Esposa</td>
            </tr>
            <tr>
                <th>Número de Teléfono:</th>
                <td>+56 9 9876 5432</td>
            </tr>
        </table>

        <h2 class="mb-4">Información Laboral</h2>
        <table class="table table-bordered">
            <tr>
                <th>Compañía Actual:</th>
                <td>Aerolínea XYZ</td>
            </tr>
            <tr>
                <th>Puesto:</th>
                <td>Piloto Principal</td>
            </tr>
            <tr>
                <th>Fecha de Inicio:</th>
                <td>2020-01-10</td>
            </tr>
        </table>

        <h2 class="mb-4">Preferencias de Vuelo</h2>
        <table class="table table-bordered">
            <tr>
                <th>Aeronaves Preferidas:</th>
                <td>Boeing 737, Airbus A320</td>
            </tr>
            <tr>
                <th>Rutas Preferidas:</th>
                <td>Internacionales</td>
            </tr>
        </table>


        <h2 class="mb-4">Equipaje</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID de Equipaje</th>
                    <th>Peso</th>
                    <th>Dimensiones</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>EQ123</td>
                    <td>23 kg</td>
                    <td>55x40x20 cm</td>
                    <td>Registrado</td>
                </tr>
                <tr>
                    <td>EQ124</td>
                    <td>10 kg</td>
                    <td>50x30x20 cm</td>
                    <td>Registrado</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- User Profile End -->

    <!-- Footer Start -->
    <div class="container-fluid footer py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <h4 class="mb-4 text-white">Get In Touch</h4>
                    <a href=""><i class="fas fa-home me-2"></i> 123 Street, New York, USA</a>
                    <a href=""><i class="fas fa-envelope me-2"></i> info@example.com</a>
                    <a href=""><i class="fas fa-phone me-2"></i> +012 345 67890</a>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <h4 class="mb-4 text-white">Company</h4>
                    <a href=""><i class="fas fa-angle-right me-2"></i> About</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Careers</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Blog</a>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <h4 class="mb-4 text-white">Support</h4>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Contact</a>
                    <a href=""><i class="fas fa-angle-right me-2"></i> Privacy Policy</a>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-3">
                    <h4 class="text-white mb-3">Payments</h4>
                    <div class="footer-bank-card">
                        <a href="#" class="text-white me-2"><i class="fab fa-cc-amex fa-2x"></i></a>
                        <a href="#" class="text-white me-2"><i class="fab fa-cc-visa fa-2x"></i></a>
                        <a href="#" class="text-white me-2"><i class="fas fa-credit-card fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <!-- Copyright Start -->
    <div class="container-fluid copyright text-body py-4">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-md-6 text-center text-md-end mb-md-0">
                    <i class="fas fa-copyright me-2"></i><a class="text-white" href="#">Your Site Name</a>, All right reserved.
                </div>
                <div class="col-md-6 text-center text-md-start">
                    Designed By <a class="text-white" href="https://htmlcodex.com">HTML Codex</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>   

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
