<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Travela - Perfil del Usuario</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600&family=Roboto&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

	<link rel="icon" th:href="@{/img/Spring.jpg}" type="image/png">

    <!-- Template Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>


	   <header th:insert="~{home/homeTemplate/home.html::header}"></header>

    


    <!-- Navbar End -->

    <!-- Header Start -->
    <div class="container-fluid bg-breadcrumb">
        <div class="container text-center py-5" style="max-width: 900px;">
            <h3 class="text-white display-3 mb-4">Perfil del Pasajero</h3>
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item active text-white">Perfil del Pasajero</li>
            </ol>
        </div>
    </div>
    <!-- Header End -->

    <!-- User Profile Start -->
    <div class="container py-5">
        <h2 class="mb-4">Información Personal</h2>
        <table class="table table-bordered">
            <tr>
                <th>RUT:</th>
                <td th:text="${session.usuario.rutUsuario}"></td>
            </tr>
            <tr>
                <th >Nombre</th>
                <td th:text="${session.usuario.nombre+' '+session.usuario.apellido}"></td>
            </tr>
            <tr>
                <th>Correo Electrónico:</th>
                <td th:text="${session.usuario.correoElectronico}"></td>
            </tr>
            <tr>
                <th>Teléfono:</th>
                <td th:text="${session.usuario.telefono}"></td>
            </tr>
            <tr>
                <th>Fecha de Nacimiento:</th>
                <td th:text="${session.usuario.fechaNacimiento}"></td>
            </tr>
        </table>

		       
			<h2 class="mb-4">Mis Reservas de Vuelo</h2>
			<table class="table table-bordered">
			    <thead>
			        <tr>
			            <th>Número de Vuelo</th>
			            <th>Fecha de Salida</th>
			            <th>Fecha de Llegada</th>
			            <th>Aeropuerto de Salida</th>
			            <th>Aeropuerto de Llegada</th>
			            <th>Estado de Reserva</th>
			            <th>Precio</th>
			            <th>Acciones</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="vuelo : ${vuelos}" 
			            th:class="${vuelo.estadoReserva == 'Vuelo Programado' ? 'table-success' : 
			                         vuelo.estadoReserva == 'Vuelo Cancelado' ? 'table-danger' : 
			                         vuelo.estadoReserva == 'Vuelo Retrasado' ? 'table-warning' : ''}">
			            <td th:text="${vuelo.numeroVuelo}"></td>
			            <td th:text="${#dates.format(vuelo.fechaHoraSalida, 'yyyy-MM-dd HH:mm')}"></td>
			            <td th:text="${#dates.format(vuelo.fechaHoraLlegada, 'yyyy-MM-dd HH:mm')}"></td>
			            <td th:text="${vuelo.aeropuertoSalida}"></td>
			            <td th:text="${vuelo.aeropuertoLlegada}"></td>
			            <td th:text="${vuelo.estadoReserva}"></td>
			            <td th:text="${'$' + vuelo.precio}"></td>
			            <td>
			                <a th:href="@{/perfil/detalleReserva/{id}  (id=${vuelo.id_reserva})}" class="btn btn-info btn-sm">
			                    <i class="fas fa-eye"></i> Ver Detalles
			          
			                </a>
			                <a href="#" class="btn btn-warning btn-sm">
			                    <i class="fas fa-edit"></i> Modificar
			                </a>
			                <a th:href="@{/perfil/cancelarReserva/{id}  (id=${vuelo.id_reserva})}" class="btn btn-danger btn-sm">
			                    <i class="fas fa-times"></i> Cancelar
			                </a>
			            </td>
			        </tr>
			    </tbody>
			</table>

		       	

        <h2 class="mb-4">Equipaje</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID de Equipaje</th>
                    <th>Peso</th>
                    <th>Dimensiones</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>EQ123</td>
                    <td>23 kg</td>
                    <td>55x40x20 cm</td>
                    <td>Registrado</td>
                </tr>
                <tr>
                    <td>EQ124</td>
                    <td>10 kg</td>
                    <td>50x30x20 cm</td>
                    <td>Registrado</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- User Profile End -->

    <!-- Footer Start -->
	<header th:insert="~{home/homeTemplate/home.html::footer}"></header>

    <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square back-to-top"><i class="fa fa-arrow-up"></i></a>   

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
